<p id="notice"><%= notice %></p>
<h1> Comments of the Event: "<%=@event[0] %>" </h1>

<br>

<table>
  <thead>
  <tr>
    <th colspan="7"></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <th> description</th>
    <th> reply_id</th>
    <th> event_id</th>
    <th> comment_id</th>
  </tr>
  <%@comments.each do |v|%>
  <tr>
    <td><%= v.description %></td>
    <td><%= v.reply %></td>
    <td><%= v.user.name %></td>
    <td><%= v.id %></td>
    <td><%= link_to 'Back', "http://localhost:3000" %></td>
  </tr>
    <%end %>
  </tbody>
</table>
