<div class="row ml-auto mt-auto">
  <h2>Search Results</h2>
</div>
<% if @number.length  > 0  %>
  <div class="row ml-auto mt-auto">
    <p><%=@number.length %> matches found for Events.</p>
  </div>
  <div class="row ml-auto mt-auto">
    <% @allEvents.each do |all| %>
      <% @number.each do |num| %>
        <% if all.id == num %>
          <%= render partial: 'events/event_tile', locals: { event: all } %>
        <%end %>
      <%end %>
    <%end %>
  </div>
<% else %>
  <div class="row ml-auto mt-auto">
    <p>No matches found for Events.</p>
  </div>
<% end %>


<% if @organizations.length > 0  %>
  <div class="row ml-auto mt-auto">
    <p><%=@organizations.length %> matches found for Organizations.</p>
  </div>
  <div class="row ml-auto mt-auto">
    <% @organizations.each do |organization| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm table-darkred">
          <p>
            <% if organization.photo.attached? %>
              <%= link_to image_tag(organization.photo,class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef"), url_for(organization) %>
            <%else %>
              <%= link_to image_tag("thumbnail.svg", class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef"), url_for(organization) %>
            <%end %>
          </p>
          <div class="card-body">
            <p class="card-text"><%= link_to organization.name, organization %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group  btn-group-toggle">
                <button type="button" class="btn btn-gold"><%= link_to "View", organization %></button>
              </div>
              <!--
              <small class="text-muted">%= "#{(event.start_date.to_date - DateTime.now.to_date).to_i} days left!" %></small>
              -->
            </div>
          </div>
        </div>
      </div>
    <%end %>
  </div>
<% else %>
  <div class="row ml-auto mt-auto">
    <p>No matches found for Organizations.</p>
  </div>
<% end %>


<% if @users.length > 0  %>
  <div class="row ml-auto mt-auto">
  <p><%=@users.length %> matches found for Users.</p>
  </div>
  <div class="row ml-auto mt-auto table-bordered table-active">
    <% @users.each_with_index do |user,i| %>
      <div class="col-lg-4 table-bordered table-active">
        <p>
          <% if user.photo.attached? %>
            <%= link_to image_tag(user.photo,class: "rounded-circle card-img-top", width: "250", height: "250", id:"img", background: "#55595c", color: "#eceeef"), url_for(user) %>
          <%else %>
            <%= link_to image_tag("thumbnail.svg", class: "rounded-circle card-img-top",width: "250", height: "250", background: "#55595c", color: "#eceeef"), url_for(user) %>
          <%end %>
        </p>
        <h2><%=user.name %></h2>
        <h4><%=user.email %></h4>
        <div class="btn btn-group-toggle">
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option1"> <%= link_to 'Show', user %>
          </label>
          <% if user_signed_in?%>
            <% if current_user.administrator%>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2"> <%= link_to 'Edit', edit_user_path(user) %>
              </label>
            <% elsif user.id == current_user.id%>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2"> <%= link_to 'Edit', edit_user_registration_path %>
              </label>
            <%end %>
            <% if user.id == current_user.id || current_user.administrator%>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3"> <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
              </label>
            <%end %>
          <%end %>
        </div>
      </div><!-- /.col-lg-4 -->
    <%end %>
  </div><!-- /.row -->
<% else %>
  <div class="row ml-auto mt-auto">
    <p>No matches found for Users.</p>
  </div>
<% end %>