<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation ">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "flex-row col-auto table-darkred">
    <%= form.label :name %>
    <div class="form-group col-centered">
      <%= form.text_field :name, class: "table-gold" %>
    </div>
    <%= form.label :email %>
    <div class="form-group col-centered">
      <%= form.text_field :email, class: "table-gold" %>
    </div>
    <%= form.label :password %>
    <div class="form-group col-centered">
      <%= form.text_field :password, class: "table-gold"%>
    </div>
    <%= form.label :location %>
    <div class="form-group col-centered">
      <%= form.text_field :location, class: "table-gold" %>
    </div>
    <%= form.label :bio %>
    <div class="form-group col-centered">
      <%= form.text_area :bio, class: "table-gold" %>
    </div>
    <%= form.label :"Profile's Photo" %>
    <div class="form-group col-centered">
    <input type="file" accept="image/*" onchange="loadFile(event)">
    <img id="output"/>
    <script>
        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
    </script>
    </div>
    <div class="form-group mt-2 ">
      <p>
      <%= form.submit submit_btn_text, class: ["btn","btn-red"] %>
      <%= link_to "Back", :back, class: ["btn", "btn-red"] %>
      </p>
    </div>
  </div>
<% end %>
