<p id="notice"><%= notice %></p>

<h1>Users</h1>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <th><h3>User Names</h3></th>
    </div>
    <div class="col-sm">
      <th><h3>Emails</h3></th>
    </div>
    <div class="col-sm">
      <th><h3>Options</h3></th>
    </div>
  </div>
  <% @users.each do |user| %>
    <div class="row">
      <div class="col-sm">
        <td><%=user.name %></td>
      </div>
      <div class="col-sm">
        <td><%=user.email %></td>
      </div>
      <div class="col-sm">
        <td>
          <%= link_to 'Show', user %> |
          <%= link_to 'Edit', edit_user_path(user) %> |
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </div>
    </div>
  <%end %>
  <div class="row">
    <%= link_to 'New User', new_user_path %>
  </div>
</div>







