<p id="notice"><%= notice %></p>

<h1>Users</h1>

<br>
<th> <%= link_to 'New User', new_user_path %> </th>

<tbody>
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
  <% @users.each_with_index do |user,i| %>
      <div class="col-lg-4 table-bordered table-active">
        <p>
          <% if user.photo.attached? %>
            <%= link_to image_tag(user.photo,class: "rounded-circle card-img-top", width: "250", height: "250", id:"img", background: "#55595c", color: "#eceeef"), url_for(user) %>
          <%else %>
            <%= link_to image_tag("thumbnail.svg", class: "rounded-circle card-img-top",width: "250", height: "250", background: "#55595c", color: "#eceeef"), url_for(user) %>
          <%end %>
        </p>
        <h2><%=user.name %></h2>
        <h4><%=user.email %></h4>
        <div class="btn btn-group-toggle">
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option1"> <%= link_to 'Show', user %>
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2"> <%= link_to 'Edit', edit_user_path(user) %>
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3"> <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          </label>
        </div>
        </p>
      </div><!-- /.col-lg-4 -->
  <%end %>
</div><!-- /.row -->
</div>
</tbody>









