<p id="notice"><%= notice %></p>

<table class="table table-darkred">
  <tbody>
  <h1>Profile of <%=@user.name %></h1>
  <tr>
    <th scope="col"> Email</th>
    <th scope="col"> Location</th>
    <th scope="col"> Biography</th>
  </tr>
  <tr>
    <td><%= @user.email %></td>
    <td><%= @user.location %></td>
    <td><%= @user.bio %></td>
  </tr>
  </tbody>
</table>
<table class="table-darkred">
<td class="btn btn-group-toggle">
  <label class="btn table-gold">
    <%= link_to 'Edit User', edit_user_path(@user) %>
  </label>
  <label class="btn table-gold">
    <%= link_to 'Back', users_path %>
  </label>
</td>
</table>
<br>
<p><h2>Events that <%=@user.name %> has created:</h2></p>
<table class="table table-darkred">
  <th scope="col"> Event Name</th>
  <th scope="col"> Options</th>
  <%@events.each do |e| %>
    <tr>
      <td><%= e.name %></td>
      <td>
        <label class="btn-sm table-gold">
          <%= link_to 'Go To Event', e%>
        </label>
      </td>
    </tr>
<% end %>
</table>

<br>
<br>

<p><h3>My written comments or replies to any events</h3></p>
<table class="table table-darkred">
  <th scope="col"> Description</th>
  <th scope="col"> Event</th>
  <th scope="col"> Options</th>
  <%@comments.each do |v|%>
    <tr>
      <td><%= v.description%></td>
      <td><%= v.event.name %></td>
      <td>
        <label class="btn-sm table-gold">
          <%= link_to 'Go To Event', v.event %>
        </label>
      </td>
    </tr>
  <% end %>
</table>

<%= 'Go To Mail box' %>   <!-- #dejar asi porque no logro pasarle usuario para abrirlo especificamente -->
