<p id="notice"><%= notice %></p>
<table>
  <thead>
  <tr>
    <th colspan="5"></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <th> Email</th>
    <th> Name</th>
    <th> Location</th>
    <th> Biography</th>
  </tr>
  <tr>
    <td><%= @user.email %></td>
    <td><%= @user.name %></td>
    <td><%= @user.location %></td>
    <td><%= @user.bio %></td>
    <td><%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %></td>
  </tr>
  </tbody>
</table>

<table>
  <tr>Events i have commented</tr>
  <%@events.each do |e| %>
    <tr>
      <td><%= e.name %></td>
    </tr>
  <% end %>
</table>


<table>
  <tr>My written comments/reply to those events</tr>
  <td>Description</td>
  <td>Event id</td>
  <%@comments.each do |v|%>
    <tr>
      <td><%= v.description%></td>
      <td><%=v.event_id %></td>
    </tr>
  <%end %>
</table>
