<p id="notice"><%= notice %></p>
<table>
  <thead>
  <tr>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <h1>Profile of <%=@user.name %></h1>
  <tr>
    <th> Email</th>
    <th> Location</th>
    <th> Biography</th>
  </tr>
  <tr>
    <td><%= @user.email %></td>
    <td><%= @user.location %></td>
    <td><%= @user.bio %></td>
    <td><%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %></td>
  </tr>
  </tbody>
</table>

<br>

<table>
  <h3>Events that <%=@user.name %> has created:</h3>
  <th> Name</th>
  <%@events.each do |e| %>
    <tr>
      <td><%= e.name %></td>
      <td><%= link_to 'Go To Event', e %> </td>
    </tr>
  <% end %>
</table>

<br>
<br>

<table>
  <tbody>
  <h3>My written comments or replies to any events</h3>
  <th>Description</th>
  <th>Event</th>
  <%@comments.each do |v|%>
    <tr>
      <td><%= v.description%></td>
      <td><%= v.event.name %></td>
      <td><%= link_to 'Go To Event', v.event %> </td>
    </tr>
    </tbody>
  <%end %>
</table>

<%= 'Go To Mail box' %>   <!-- #dejar asi porque no logro pasarle usuario para abrirlo especificamente -->
