<p id="notice" class ="table-gold"><%= notice %></p>
<% if @user.photo.attached? %>
  <img class="img mx-auto d-block" data-toggle="modal" data-target="#exampleModalCenter"
  <%= image_tag @user.photo,class: "image", width: "200", height: "auto", id:"img"%>
<%end %>
</img>
<table class="table table-darkred">
  <tbody>
  <h1>Profile of <%=@user.name %></h1>
  <tr>
    <th scope="col"> Email</th>
    <th scope="col"> Location</th>
    <th scope="col"> Biography</th>
    <% if @user.id == current_user.id || current_user.administrator%>
    <th scope="col"> MailBox</th>
    <%end %>
  </tr>
  <tr>
    <td><%= @user.email %></td>
    <td><%= @user.location %></td>
    <td><%= @user.bio %></td>
    <% if @user.id == current_user.id || current_user.administrator%>
      <td><%= link_to 'Go to Mail', user_mail_box_url(@user)%></td>
    <%end %>
  </tr>
  </tbody>
</table>
<% if @user.id == current_user.id || current_user.administrator%>
  <table class="table-darkred">
    <td class="btn btn-group-toggle">
      <% if current_user.administrator%>
        <label class="btn table-gold">
          <%= link_to 'Edit User', edit_user_path(@user) %>
        </label>
        <label class="btn table-gold">
          <%= link_to 'Delete User', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </label>
        <label class="btn table-gold">
          <%= link_to 'Back', users_path %>
        </label>
      <% elsif @user.id == current_user.id%>
        <label class="btn table-gold">
          <%= link_to 'Edit Profile', edit_user_registration_path %>
        </label>
        <label class="btn table-gold">
          <%= link_to 'Cancel Account ', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </label>
        <label class="btn table-gold">
          <%= link_to 'Back', root_path %>
        </label>
      <%end %>
    </td>
  </table>
<%end %>
</td>
</table>
<br>
<p><h2>Events that <%=@user.name %> has created:</h2></p>
<table class="table table-darkred">
  <th scope="col"> Event Name</th>
  <th scope="col"> Options</th>
  <%@events.each do |e| %>
    <tr>
      <td><%= e.name %></td>
      <td>
        <label class="btn-sm table-gold">
          <%= link_to 'Go To Event', e%>
        </label>
      </td>
      <td>
        <label class="btn-sm table-gold">
          <%= link_to 'Send invitation', new_event_invitation_url%>
        </label>
      </td>
    </tr>
<% end %>
</table>

<br>
<br>

<p><h3>My written comments or replies to any events</h3></p>
<table class="table table-darkred">
  <th scope="col"> Description</th>
  <th scope="col"> Event</th>
  <th scope="col"> Options</th>
  <%@comments.each do |v|%>
    <tr>
      <td><%= v.description%></td>
      <td><%= v.event.name %></td>
      <td>
        <label class="btn-sm table-gold">
          <%= link_to 'Go To Event', v.event %>
        </label>
      </td>
    </tr>
  <% end %>
</table>

<br>
<br>

<p><h3>Current events in which i will participate</h3></p>
<table class="table table-darkred">
  <th scope="col"> Event Name</th>
  <th scope="col"> Options</th>
  <%@total.each do |e| %>
    <tr>
      <td><%= e.name %></td>
      <td>
        <label class="btn-sm table-gold">
          <%= link_to 'Go To Event', e%>
        </label>
      </td>
    </tr>
  <% end %>
</table>
