<%= form_with(model: event, local: true) do |form| %>
  <div class = "flex-row col-auto table-darkred">
    <%= form.label :"Event's Photo" %>
    <div class="form-group col-centered">
      <%= form.file_field :flyer %>
    </div>

    <%= form.label :"Event files" %>
    <div class="form-group col-centered">
      <%= form.file_field :mFiles, multiple: true %>
    </div>


    <%= form.label :name %>
    <div class="form-group col-centered">
      <%= form.text_field :name, class: "table-gold" %>
    </div>
    <%= form.label :description %>
    <div class="form-group col-centered">
      <%= form.text_area :description, class: "table-gold" %>
    </div>
    <%= form.label :start_date %>
    <div class="form-group col-centered">
      <%= form.datetime_local_field :start_date, class: "table-gold" %>
    </div>
    <%= form.label :public %>
    <%= form.check_box :public, class: "table-gold" %>

    <div class="form-group mt-2 ">
        <%= form.submit submit_btn_text, class: ["btn", "btn-red"] %>
        <%= link_to "Back", :back, class: ["btn", "btn-red"] %>
    </div>
  </div>
<% end %>