<p id="notice"><%= notice %></p>
<h1 class="align-content-center">Event: <%= @event.name %></h1>

<br>
<body>
<% if @event.flyer.attached? %>
  <img class="img mx-auto d-block" data-toggle="modal" data-target="#exampleModalCenter"
  <%= image_tag @event.flyer,class: "image", width: "400", height: "auto", id:"img"  if @event.flyer.attached?%>
<%end %>
</img>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <th><h5>Event Date</h5> </th>
    </div>
    <div class="col-sm">
      <th><h5>Description</h5> </th>
    </div>
    <div class="col-sm">
      <th><h5>Min votes needed</h5> </th>
    </div>
    <div class="col-sm">
      <th><h5>Assistants</h5> </th>
    </div>
    <div class="col-sm">
      <th><h5>Public?</h5> </th>
    </div>
    <div class="col-sm">
      <th><h5>Options</h5> </th>
    </div>
  </div>
    <div class="row">
      <div class="col-sm">
        <td><%= @event.start_date %></td>
      </div>
      <div class="col-sm">
        <td><%= @event.description %></td>
      </div>
      <div class="col-sm">
        <td><%= @event.minVotes %></td>
      </div>
      <div class="col-sm">
        <td><%= @event.assistants %></td>
      </div>
      <div class="col-sm">
        <td><%= @event.public %></td>
      </div>
      <div class="col-sm">
        <td>
          <%= link_to 'Edit', edit_event_path(@event) %>  |
          <%= link_to 'Back', events_path %>
        </td>
      </div>
    </div>
</div>


<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <th><h5>Comments: </h5> </th>
    </div>
    <div class="col-sm">
      <th><h5>Leave a Reply?</h5></th>
    </div>
  </div>
  <%@comments.each do |v|%>
    <div class="row">
      <div class="col-sm">
        <td><%= v%></td>
      </div>
      <div class="col-sm">
        <td><%= link_to 'reply', new_comment_path(@event) %></td>
      </div>
    </div>
  <%end%>
</div>

<br>
<br>


<div class="container">
  <div class="row">
    <h5>Add user to event</h5>
  </div>
  <div class="row">
    <%= link_to 'New User', new_user_path %>
  </div>
</div>
</body>