<p id="notice"><%= notice %></p>
<h1 class="align-content-center">Event: <%= @event.name %></h1>

<p id="notice" class ="table-gold"><%= notice %></p>
<% if @event.flyer.attached? %>
  <img class="img mx-auto d-block" data-toggle="modal" data-target="#exampleModalCenter"
  <%= image_tag @event.flyer,class: "image", width: "200", height: "auto", id:"img"%>
<%end %>
<table class="table table-darkred">
  <tbody>
  <h1>Profile of <%=@event.name %></h1>
  <tr>
    <th scope="col"> Date</th>
    <th scope="col"> Description</th>
    <th scope="col"> Minimal Votes</th>
    <th scope="col"> assistants</th>
    <th scope="col"> Is it Public?</th>
    <% if @event.mFiles.attached? %>
      <th scope="col"> files attached</th>
    <%end %>
  </tr>
  <tr>
    <td><%= @event.start_date %></td>
    <td><%= @event.description %></td>
    <td><%= @event.minVotes %></td>
    <td><%= @event.assistants %></td>
    <td><%= @event.public %></td>
    <% if @event.mFiles.attached? %>
      <td><%= @event.mFiles.count() %></td>
    <%end %>
  </tr>
  </tbody>
</table>
<table class="table-darkred">
  <td class="btn btn-group-toggle">
    <label class="btn table-gold">
      <%= link_to 'Edit Event', edit_event_path(@event.id) %>
    </label>
    <label class="btn table-gold">
      <%= link_to 'Back', users_path %>
    </label>
  </td>
</table>
<br>

<p><h3>Comments or replies to the event</h3></p>
<table class="table table-darkred">
  <th scope="col"> Comment</th>
  <th scope="col"> Leave a Reply</th>
  <%@comments.each do |v|%>
    <tr>
      <td><%= v.description%></td>
      <td><%= link_to 'reply', new_event_comment_url(@event) %></td>
    </tr>
  <% end %>
</table>

<table class="table table-darkred">
  <th scope="col"> File Previews</th>
  <tr>
<%@event.mFiles.each do |v|%>
  <% if v.previewable? %>
        <td> <%= image_tag(v.preview(resize_to_limit: [100, 100]))%></td>
  <% elsif v.representable? %>
        <td><%= image_tag(v,class: "image", width: "200", height: "auto", id:"img" )%></td>
  <% else %>
    <td><%= 'N/A'%></td>
  <%end %>
<% end %>
    </tr>
</table>

<br>

<%= link_to 'Join event' , new_event_invitation_url(@event, current_user) %>
