<p id="notice"><%= notice %></p>
<h1 class="align-content-center">Event: <%= @event.name %></h1>

<p id="notice" class ="table-gold"><%= notice %></p>
<% if @event.flyer.attached? %>
  <img class="img mx-auto d-block" data-toggle="modal" data-target="#exampleModalCenter"
  <%= image_tag @event.flyer,class: "image", width: "200", height: "auto", id:"img"%>
<%end %>
<table class="table table-darkred">
  <tbody>
  <h1>Profile of <%=@event.name %></h1>
  <tr>
    <th scope="col"> Date</th>
    <th scope="col"> Description</th>
    <th scope="col"> Minimal Votes</th>
    <th scope="col"> assistants</th>
    <th scope="col"> Is it Public?</th>
  </tr>
  <tr>
    <td><%= @event.start_date %></td>
    <td><%= @event.description %></td>
    <td><%= @event.minVotes %></td>
    <td><%= @event.assistants %></td>
    <td><%= @event.public %></td>
  </tr>
  </tbody>
</table>
<table class="table-darkred">
  <td class="btn btn-group-toggle">
    <label class="btn table-gold">
      <%= link_to 'Edit Event', edit_user_path(@event) %>
    </label>
    <label class="btn table-gold">
      <%= link_to 'Back', users_path %>
    </label>
  </td>
</table>
<br>

<p><h3>Comments or replies to the event</h3></p>
<table class="table table-darkred">
  <th scope="col"> Comment</th>
  <th scope="col"> Leave a Reply</th>
  <%@comments.each do |v|%>
    <tr>
      <td><%= v%></td>
      <td><%= link_to 'reply', new_comment_path(@event) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Join event' , new_event_invitation_url(@event, current_user) %>   <!-- #dejar asi porque no logro pasarle usuario para abrirlo especificamente -->
