<p id="notice"><%= notice %></p>
<h1>Event: <%= @event.name %></h1>
<table>
  <thead>
  <tr>
    <th colspan="7"></th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <th> Event Date</th>
      <th> Description</th>
      <th> Minimal votes needed</th>
      <th> Assistants</th>
      <th> Public?</th>
      <th> Options</th>
    </tr>
    <tr>
      <td><%= @event.start_date %></td>
      <td><%= @event.description %></td>
      <td><%= @event.minVotes %></td>
      <td><%= @event.assistants %></td>
      <td><%= @event.public %></td>
      <td><%= link_to 'Edit', edit_event_path(@event) %> |
        <%= link_to 'Back', events_path %></td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table>
  <th>Comments: </th>
  <th>Leave a Reply?</th>
  <%@comments.each do |v|%>
    <tr>
      <td><%= v%></td>
      <td><%= link_to 'reply', new_comment_path(@event) %></td>
  </tr>
    <%end %>
</table>
