<%= form_with(model: inbox_message, local: true) do |form| %>
  <% if inbox_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inbox_message.errors.count, "error") %> prohibited this inbox_message from being saved:</h2>

      <ul>
        <% inbox_message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :destination %>
    <%= form.collection_select(:user_id, User.all.order(name: :asc), :id, :name, {}, { class: "form-control" }) %>
  </div>

<!--  <div class="form-group">-->
    <%#= form.label :destination %>
    <%#= form.collection_select(:user_id, User.all.order(name: :asc), :id, :name, {}, { class: "form-control" }) %>
<!--  </div>-->
  <div class="form-group ">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
