<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <th><h3>Organization Names</h3></th>
    </div>
    <div class="col-sm">
      <th><h3>Options</h3></th>
    </div>
  </div>
  <% @organizations.each do |organization| %>
    <div class="row">
      <div class="col-sm">
        <td><%=organization.name %></td>
      </div>
      <div class="col-sm">
        <td>
          <%= link_to 'Show', organization %> |
          <%= link_to 'Edit', edit_organization_path(organization) %> |
          <%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </div>
    </div>
  <%end %>
  <div class="row">
    <%= link_to 'New Organization', new_organization_path %>
  </div>
</div>
