<p id="notice"><%= notice %></p>

<h1>Organization: <%= @organization.name %></h1>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <th><h3>Members</h3></th>
    </div>
  </div>
  <%@users.each do |v|%>
  <div class="row">
    <div class="col-sm">
      <td><%= v.name%></td>
    </div>
  </div>
    <%end %>
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <%= link_to 'Edit Organization', edit_organization_path(@organization) %> |
      <%= link_to 'Back', organizations_path %>
    </div>
  </div>
</div>
