<p id="notice"><%= notice %></p>

<h1 class="align-content-center">Organization: <%= @organization.name %></h1>

<br>
<% if @organization.photo.attached? %>
  <img class="img mx-auto d-block" data-toggle="modal" data-target="#exampleModalCenter"
  <%= image_tag @organization.photo,class: "image", width: "400", height: "auto", id:"img"  if @organization.photo.attached?%></img>
<%end %>

<table class="table table-darkred">
  <tbody>
  <th scope="col"> Members of <%=@organization.name %></th>
  <%@users.each do |v|%>
    <tr>
      <td><%= v.name%></td>
    </tr>
    </tbody>
  <%end %>
</table>

<table class="table-darkred">
  <td class="btn btn-group-toggle">
    <label class="btn table-gold">
      <%= link_to 'Edit Organization', edit_organization_path(@organization) %>
    </label>
    <label class="btn table-gold">
      <%= link_to 'Back', organizations_path %>
    </label>
  </td>
</table>
<%= link_to 'Become a Member' , new_organization_subscription_url(@organization) %>
