<!DOCTYPE html>
<html>
  <head>
    <title>CourseProjectFijimenezNcapara</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1 style="font-size: 100%"><a href="http://localhost:3000/"><cus>WingManBook</cus></a></h1>
  </header>
  <nav>
    <ul id="navbar">
      <li><a href="http://localhost:3000/users"> Users</a></li>
      <li><a href="http://localhost:3000/events"> Events</a></li>
      <li><a href="http://localhost:3000/organizations"> Organization</a></li>
    </ul>
  </nav>
  <body>
    <%= yield %>
  </body>


</html>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h4>Contact Information</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <p>+666 6 666 007 666</p>
      </div>
      <div class="col-sm">
        <p>connected to servers in outer space</p>
      </div>
    </div>
  </div>
</footer>
