<!DOCTYPE html>
<html>
  <head>
    <title>CourseProjectFijimenezNcapara</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <h1 style="font-size: 100%"><a href="http://localhost:3000/"><cus>WingManBook</cus></a></h1>
  </header>
    <nav class="nav navbar-nav">
      <ul id="navbar">
        <li><a href="http://localhost:3000/users"> Users</a></li>
      </ul>
      <ul id="navbar">
        <li><a href="http://localhost:3000/events"> Events</a></li>
      </ul>
      <ul id="navbar">
        <li><a href="http://localhost:3000/organizations"> Organization</a></li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <input id="searchbar" onkeyup="" type="text"
               name="search" placeholder="Search...">
        <button><i class="fa fa-search"></i></button>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h4>Contact Information</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <p>+666 6 666 007 666</p>
          </div>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <div class="col-sm">
            <p>connected to servers in outer space</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>