<!DOCTYPE html>
<html>
  <head>
    <title>CourseProjectFijimenezNcapara</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
<!--    <h1 style="font-size: 100%"><a href="/"><cus>WingManBook</cus></a></h1>-->

    <div class = "row">
      <div class = "col">
        <h1 style="font-size: 100%"><a href="/"><cus>WingManBook</cus></a></h1>
      </div>
      <% if user_signed_in?%>
        <div class = "col">
          <p style="text-align:right;"><con>Connected as: <%= current_user.name%></con></p>
        </div>
      <% end %>
    </div>
  </header>
  <div class = "navbar topnav nav">
    <ul id="navbar">
    <% if user_signed_in? && current_user.administrator %>
      <li><a class = "active" href="/users"> Users</a></li>
    <% end %>
      <li><a href="/events"> Events</a></li>
      <li><a href="/organizations"> Organizations</a></li>
    </ul>
    <div class="topnav-right">
      <ul id="navbar">
        <li>
        <form class="form-inline" id="search_form" action = "/search/search">
          <%= text_field_tag :search, params[:search] %>
         <button class="btn btn-outline-success my-2 my-sm-0" id="search_button" type="submit">Search</button>
        </form>
        </li>

        <% if user_signed_in? %>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "MyProfile", current_user%></li>
        <% else %>
              <li><%= link_to "Log in", user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>



    <script>
        var a = document.getElementById('tfnewsearch');
        a.addEventListener('submit',function(e) {
            e.preventDefault();
            var b = document.getElementById('searchbar').value;
            window.location.href = 'http://localhost:3000/'+b;

        });

    </script>
  </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h4>Contact Information</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <p>+666 6 666 007 666</p>
          </div>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <div class="col-sm">
            <p>connected to servers in outer space</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>